[Desktop Entry]
Type=Application
Name=eww
Comment=Desktop resource widgets
Exec=sh -c "sleep 3; exec ~/.config/eww/scripts/launch.sh"
Terminal=false
X-GNOME-Autostart-enabled=true
